.s-how{
	text-align: center;
	background: url("../img/how/bg.jpg") center top no-repeat #1a191f;
	color: #FFF;
	padding: 90px 0 120px 0;
	@include res(m){
		padding: 50px 0;
	}

	.h2{
		margin-bottom: 20px;
	}

	&__logo{
		max-width: 100%;
		height: auto;
		margin-top: 90px;
		@include res(l){
			width: 373px;
			height: auto;
		}
		@include res(m){
			margin-top: 30px;
		}
	}
}

.how-items{
	margin-top: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	@include res(xs){
		margin-top: 20px;
		flex-direction: column;
		align-items: center;
	}
}

.how-item{
	width: 220px;
	padding: 0 10px;
	@include res(xs){
		margin-bottom: 20px;
	}

	header{
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 15px;
	}

	p{
		@include res(m){
			font-size: 14px;
		}
	}

	&.anim{
		header{
			transition: all 0.6s ease;
			opacity: 0;
			transform: scale3d(0.5,0.5,0.5);
		}
		p{
			transition: all 0.6s ease;
			opacity: 0;
			transform: translate3d(0,20px,0);
		}
	}

	&.animated{
		header,p{
			opacity: 1;
			transform: none;
		}
	}
}