$breakpoints: (
	'xxl': (max-width: 1680px),
	'xl': (max-width: 1400px),
	'l': (max-width: 1024px),
	'm': (max-width: 768px),
	's': (max-width: 680px),
	'xs': (max-width: 480px),
	'xxs': (max-width: 375px),
);

$font: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
$font-head: 'Gotham Pro', 'Helvetica Neue', Arial, sans-serif;

$link-hover: #fcec00;

$container_width: 1200px;

$gutter: 12px;

$pad-xl: 80px;
$pad-l: 60px;
$pad-m: 40px;
$pad-s: 30px;
$pad-xs: 20px;
$pad-xxs: 10px;