.cases-sec {
	padding-top: $pad-xl;
	padding-bottom: $pad-xl;
	background: #eceeed;
	@include res(l) {
		padding-top: $pad-l;
		padding-bottom: $pad-l;
	}
	@include res(m) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-bottom: $pad-s;
	}
}

.cases {}

.cases__facts-wrap {}

.cases__facts {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	@include res(s) {
		margin-left: -$pad-xxs;
		margin-right: -$pad-xxs;
	}
	@include res(xs) {
		padding-bottom: $pad-xxs;
	}
}

.cases__facts-title {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding-bottom: $pad-xs;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-align: center;
	@include res(s) {
		padding-bottom: $pad-xxs;
	}
}

.cases__fact {
	max-width: 230px;
	margin-right: $pad-m;
	margin-left: $pad-m;
	padding-bottom: $pad-l;
	text-align: center;
	@include res(l) {
		width: 33.33333%;
		max-width: initial;
		margin-left: 0;
		margin-right: 0;
		padding-left: $pad-s;
		padding-right: $pad-s;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-left: $pad-xxs;
		padding-right: $pad-xxs;
	}
	@include res(xs) {
		width: 50%;
		padding-bottom: $pad-xs;
	}
	p {
		font-size: 16px;
		line-height: 1.3;
		@include res(l) {
			font-size: 14px;
		}
		@include res(s) {
			font-size: 12px;
		}
	}

	&.anim{
		.cases__fact-num {
			transition: all 0.5s ease;
			opacity: 0;
			transform: translate3d(0,20px,0);
		}
		p{
			transition: all 0.6s ease;
			opacity: 0;
			transform: translate3d(0,40px,0);
		}
	}
	
	&.animated{
		p, .cases__fact-num {
			opacity: 1;
			transform: none;
		}
	}
}

.cases__fact-num {
	span {
		padding-bottom: 5px;
		font-size: 60px;
		font-weight: bold;
		font-family: $font-head;
		letter-spacing: 0.15em;
		@include res(xl) {
			font-size: 54px;
		}
		@include res(l) {
			padding-bottom: 0;
			font-size: 48px;
		}
		@include res(m) {
			font-size: 38px;
		}
		@include res(s) {
			font-size: 28px;
		}
	}
	em {
		display: inline-block;
		//padding-left: $pad-xxs;
		font-size: 36px;
		font-style: normal;
		@include res(xl) {
			font-size: 34px;
		}
		@include res(l) {
			font-size: 30px;
		}
		@include res(m) {
			font-size: 22px;
		}
		@include res(s) {
			font-size: 18px;
		}
	}
}

.cases__benefits-wrap {}

.cases__benefits {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	@include res(s) {
		margin-left: -$pad-xxs;
		margin-right: -$pad-xxs;
	}
}

.cases__benefits-title {
	max-width: 720px;
	margin: 0 auto;
	padding-bottom: $pad-m;
	text-align: center;
	font-size: 18px;
	line-height: 1.3;
	@include res(l) {
		font-size: 16px;
		padding-bottom: $pad-s;
	}
	@include res(m) {
		padding-bottom: $pad-xs;
	}
	@include res(s) {
		padding-bottom: $pad-xxs;
		font-size: 14px;
	}
}

.cases__benefit {
	width: 25%;
	padding-left: $pad-s;
	padding-right: $pad-s;
	padding-bottom: $pad-xs;
	text-align: center;
	@include res(m) {
		padding-left: $pad-xxs;
		padding-right: $pad-xxs;
	}
	@include res(s) {
		max-width: initial;
		width: 50%;
	}
	p {
		font-size: 16px;
		line-height: 1.3;
		@include res(l) {
			font-size: 14px;
		}
	}

	&.anim{
		img{
			transition: all 0.6s ease;
			opacity: 0;
			transform: scale3d(0.5,0.5,0.5);
		}
		p{
			transition: all 0.6s ease;
			opacity: 0;
			transform: translate3d(0,40px,0);
		}
	}

	&.animated{
		p,img{
			opacity: 1;
			transform: none;
		}
	}
}

.cases__benefit-img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	margin-bottom: $pad-xxs;
	@include res(l) {
		height: 60px;
	}
	img {
		flex-shrink: 0;
	}
}

.cases__people {
	padding-top: $pad-xl;
	@include res(l) {
		padding-top: $pad-l;
	}
	@include res(s) {
		padding-top: $pad-m;
	}
	@include res(xs) {
		padding-top: $pad-s;
	}
}

.cases__people-title {
	padding-bottom: $pad-m;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	@include res(l) {
		padding-bottom: $pad-s;
	}
}

.cases__people-list {
	display: flex;
	align-items: flex-start;
}

.cases__people-item {
	text-align: center;
	padding-bottom: $pad-s;
	img {
		display: block;
		margin: 0 auto $pad-xs;
		@include res(l) {
			margin-bottom: $pad-xxs;
		}
	}
	&>span {
		display: inline-block;
		padding-bottom: $pad-xxs;
		font-size: 18px;
	}
}

.cases__people-item-text {
	p {
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 5px;
	}
}

.cases__people-item-table {
	.goal-descr {
		display: inline-block;
		width: 48%;
		padding-right: 20px;
		font-size: 14px;
		text-align: right;
		font-weight: normal;
		@include res(l) {
			padding-right: 15px;
		}
		@include res(s) {
			padding-right: 10px;
		}
	}
	.goal-summ {
		display: inline-block;
		width: 52%;
		font-weight: bold;
		text-align: left;
		font-size: 16px;
		@include res(l) {
			font-size: 14px;
		}
	}
}

.cases__people-action {
	padding-top: $pad-m;
	text-align: center;
	@include res(l) {
		padding-top: $pad-s;
	}
	@include res(m) {
		padding-top: $pad-xxs;
	}
	@include res(s) {
		padding-top: 0;
	}
	p {
		font-family: 'Adlery Pro';
		font-size: 88px;
		color: $gold;
		@include res(l) {
			font-size: 64px;
		}
		@include res(m) {
			font-size: 54px;
		}
		@include res(s) {
			font-size: 32px;
		}
	}
	span {
		display: block;
		padding-bottom: $pad-s;
		font-size: 18px;
		@include res(l) {
			font-size: 16px;
			padding-bottom: $pad-xs;
		}
	}
}

