label{cursor: pointer;}

input[type="text"],input[type="tel"],input[type="email"],input[type="password"],textarea{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-family: $font;
	font-size: 16px;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 2px solid #9e9e9e;
	background: #f6f6f6;
	border-radius: 40px;
	padding: 10px 25px;
	overflow: visible;
	transition: all 0.3s ease;

	@include placeholder {
		font-size: 14px;
		color: #A8A8A8;
		opacity: 1;
		transition: all 0.3s ease;
	}

	&:hover{
		border: 2px solid #000;
	}

	&:focus{
		outline: none;
		border: 2px solid #000;
		box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
		@include placeholder {
			opacity: 0;
		}
	}

	&.error{
		border-color: #de5a16;
		background: #ffeaea;
	}
}



//style-checkbox
.style-checkbox{
	display: block;
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
	font-size: 12px;

	input{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;

		&:checked + span{
			&:after{
				opacity: 1;
			}
		}

		&.error + span{
			&:before{
				border-color: #cc0000;
			}
		}
	}

	&__label{
		display: block;
		position: relative;
		padding-left: 30px;

		&:before{
			content: '';
			width: 20px;
			height: 20px;
			border: 2px solid #353434;
			position: absolute;
			left: 0;
			top: 0;
			transition: all 0.3s ease;
		}

		&:after{
			content: '';
			width: 20px;
			height: 20px;
			background: #353434;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		a{
			color: #353434;
		}
	}
}
//style-checkbox


//style-radio
.style-radio{
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 14px;

	&.active{
		.style-radio__label{
			&:before{
				background: $gold;
			}
			&:after{
				opacity: 1;
			}
		}

	}

	&__label{
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-left: 30px;
		@include res(xs){
			font-size: 12px;
		}

		&:before{
			content: '';
			width: 20px;
			height: 20px;
			border: 2px solid $gold;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			transition: all 0.3s ease;
		}

		&:after{
			content: '';
			width: 8px;
			height: 18px;
			border-bottom: 2px solid #000;
			border-right: 2px solid #000;
			transform: rotate(45deg);
			position: absolute;
			left: 8px;
			top: -4px;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		strong{
			color: $gold;
			font-weight: bold;
			font-size: 20px;
			white-space: nowrap;
			@include res(xs){
				font-size: 16px;
			}

			.rub{
				margin-left: 5px;
			}
		}
	}
}
//style-radio

//modal-form
.modal-form{
	display: none;

	&.active{
		display: block;
	}
}
//modal-form