.header-sec {
	min-height: 100vh;
	padding-top: $pad-xl;
	background: url('../img/bg-head-xl.jpg') no-repeat center center;
}

.header {
	color: #fff;
	letter-spacing: 0.15em;
}

.header__menu-logo {}

.header__info {
	padding-top: $pad-l;
}

.header__info-title {
	max-width: 750px;
	padding-top: $pad-l;
	padding-bottom: $pad-l;
	span {
		display: inline-block;
		padding-bottom: $pad-xxs;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.15em;
	}
	h1 {
		padding-bottom: $pad-xxs;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		line-height: 26/18;
	}
}

.header__info-contact {
	display: flex;
	align-items: center;
	p {
		padding-left: $pad-m;
		font-size: 36px;
	}
	span {
		display: block;
		font-size: 18px;
	}
}

.header__video {
	padding-top: $pad-xl;
	text-align: right;
	p {
		font-size: 16px;
		line-height: 1.3;
	}
	span {
		display: block;
		font-size: 12px;
	}
}


.header-menu-sec {
	position: fixed;
	top: $pad-xs;
	width: 100%;

	z-index: 1;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	letter-spacing: 0.15em;
}

.header-menu__nav {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	ul {
		display: flex;
		align-items: center;
	}
	a {
		display: inline-block;
		padding-left: 12px;
		padding-right: 12px;
		transition: all 0.3s ease;
		&:hover {
			color: $link-hover;
		}
	}
}

.header-menu__tel {
	font-weight: bold;
}
